<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
<meta charset="UTF-8" />
<title>Layout</title>
<link rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col col-md-4">
        <span th:with="sysdate=${#dates.createNow()}"
          th:text="${#dates.format(sysdate, 'yyyy/MM/dd HH:mm')}">2016/08/15
          20:00</span>
      </div>
      <div class="col col-md-4">
        <span sec:authentication="principal.username">User Name</span>
      </div>
      <div class="col col-md-4"><a th:href="@{/logout}">logout</a>
      </div>
    </div>
    <div th:replace="fragments/menu :: menu"></div>
    <div layout:fragment="content">Fake content</div>
  </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
  <script
    src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>